# Server
PORT=4000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@db:5432/foxcord
JWT_ACCESS_SECRET=replace_me_access
JWT_REFRESH_SECRET=replace_me_refresh
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=7d
CORS_ORIGIN=http://localhost:5173
UPLOAD_DIR=./uploads

# Client
VITE_API_URL=http://localhost:4000/api
VITE_SOCKET_URL=http://localhost:4000
